
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEmployeeLabel">Create or edit a Employee</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.employee.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.employee.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_articul">Articul</label>
            <input type="text" class="form-control" name="articul" id="field_articul"
                    ng-model="vm.employee.articul"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                    ng-model="vm.employee.label"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_barcode">Barcode</label>
            <input type="text" class="form-control" name="barcode" id="field_barcode"
                    ng-model="vm.employee.barcode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_expectedNumber">Expected Number</label>
            <input type="number" class="form-control" name="expectedNumber" id="field_expectedNumber"
                    ng-model="vm.employee.expectedNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_auditedNumber">Audited Number</label>
            <input type="number" class="form-control" name="auditedNumber" id="field_auditedNumber"
                    ng-model="vm.employee.auditedNumber"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
