<div class="row">
    <div class="col-md-3">
        <div class="advertisement img-fluid rounded"></div>
    </div>
    <div class="col-md-9">
        <div *ngIf="account && isAuthenticated()" class="alert alert-success">
                <span jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
        </div>
        <h1 class="display-3" jhiTranslate="home.title">Ласкаво просимо, до порталу "Аудитор"!</h1>
        <div *ngIf="account && isAuthenticated()">
            <span class="lead" jhiTranslate="home.subtitle">Це ваша домашня сторінка</span>
        </div>

        <div *ngIf="!isAuthenticated()">
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.authenticated.prefix">Існуючий користувач?</span>
                    <a class="alert-link"
                       (click)="login()"
                       jhiTranslate="global.messages.info.authenticated.link">Авторизуватися
                    </a>
                </span>
            </div>
            <div class="alert alert-warning">
                <span jhiTranslate="global.messages.info.register.noaccount">У вас немає облікового запису?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Створити новий обліковий запис</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            Якщо у вас виникли питання:
        </p>

        <ul>
            <li><a href="" target="_blank" rel="noopener" jhiTranslate="home.link.support">Технічна підтримка</a></li>
        </ul>
    </div>
</div>
